# IDAO: expected time of orders in airports

Airports are special points for taxi service. Every day a lot of people use a taxi to get to the city centre from the airport.

One of important task is to predict how long a driver need to wait an order. It helps to understand what to do. Maybe the driver have to wait near doors, or can drink a tea, or even should drive to city center without an order.

We request you to solve a simple version of this prediction task.

**Task:** predict time of $k$ orders in airport (time since now when you get an order if you are $k$-th in queue), $k$ is one of 5 values (different for every airports).

**Data**
- train: number of order for every minutes for 6 months
- test: every test sample has datetime info + numer of order for every minutes for last 2 weeks

**Submission:** for every airport you should prepare a model which will be evaluated in submission system (code + model files). You can make different models for different airports.

**Evaluation:** for every airport for every $k$ sMAPE will be calculated and averaged. General leaderboard will be calculated via Borda count. 

## Baseline

In [55]:
%pylab inline

import catboost
import pandas as pd
import pickle
import tqdm

Populating the interactive namespace from numpy and matplotlib

/Users/togrulrahimli/anaconda3/lib/python3.6/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['time']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

Let's prepare a model for set2.

# Load train dataset

In [56]:
set_name = 'set1'
path_train_set = '../../data/train/{}.csv'.format(set_name)

data = pd.read_csv(path_train_set)
data.datetime = data.datetime.apply(
    lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
data = data.sort_values('datetime')
data.head()

             datetime  num_orders
0 2018-03-01 00:00:00           0
1 2018-03-01 00:01:00           0
2 2018-03-01 00:02:00           0
3 2018-03-01 00:03:00           0
4 2018-03-01 00:04:00           1

Predict position for set2.

In [57]:
target_positions = {
    'set1': [10, 30, 45, 60, 75],
    'set2': [5, 10, 15, 20, 25],
    'set3': [5, 7, 9, 11, 13]
}[set_name]

Some useful constant.

In [58]:
HOUR_IN_MINUTES = 60
DAY_IN_MINUTES = 24 * HOUR_IN_MINUTES
WEEK_IN_MINUTES = 7 * DAY_IN_MINUTES

MAX_TIME = DAY_IN_MINUTES

## Generate train samples with targets

We have only history of orders (count of orders in every minutes) but we need to predict time of k orders since current minutes. So we should calculate target for train set. Also we will make a lot of samples from all set (we can only use two weeks of history while prediction so we can use only two weeks in every train sample).

In [59]:
samples = {
    'datetime': [],
    'history': []}

for position in target_positions:
    samples['target_{}'.format(position)] = []
    
num_orders = data.num_orders.values

To calculate target (minutes before k orders) we are going to use cumulative sum of orders.

In [60]:
# start after 2 weeks because of history
# finish earlier because of target calculation
for i in range(2 * WEEK_IN_MINUTES,
               len(num_orders) - 2 * DAY_IN_MINUTES):
    
    samples['datetime'].append(data.datetime[i])
    samples['history'].append(num_orders[i-2*WEEK_IN_MINUTES:i])
    
    # cumsum not for all array because of time economy
    cumsum_num_orders = num_orders[i+1:i+1+2*DAY_IN_MINUTES].cumsum()
    for position in target_positions:
        orders_by_positions = np.where(cumsum_num_orders >= position)[0]
        if len(orders_by_positions):
            time = orders_by_positions[0] + 1
        else:
            # if no orders in last days
            time = MAX_TIME
        samples['target_{}'.format(position)].append(time)

Convert to pandas.dataframe. Now we have targets to train and predict.

In [61]:
df = pd.DataFrame.from_dict(samples)
df.head()

,datetime,history,target_10,target_30,target_45,target_60,target_75
0,2018-03-15 00:00:00,"[0, 0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, ...",5,18,28,32,42
1,2018-03-15 00:01:00,"[0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, ...",5,19,27,32,42
2,2018-03-15 00:02:00,"[0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, ...",7,20,27,33,43
3,2018-03-15 00:03:00,"[0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, ...",7,21,26,35,42
4,2018-03-15 00:04:00,"[1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, 1, ...",7,20,26,35,42

# Train model

Let's generate simple features.

By time:

In [62]:
df['weekday'] = df.datetime.apply(lambda x: x.weekday())
df['hour'] = df.datetime.apply(lambda x: x.hour)
df['minute'] = df.datetime.apply(lambda x: x.minute)


for i in range(24):
    aa = []
    for row in df.itertuples():
        if row[1].hour == i:
              aa.append(1)
        else: 
              aa.append(0)
    df['hour{}'.format(i)] = aa

for i in range(7):
    aa = []
    for row in df.itertuples():
        if row[1].weekday == i:
              aa.append(1)
        else: 
              aa.append(0)
    df['weekday{}'.format(i)] = aa

In [63]:
df

,datetime,history,target_10,target_30,target_45,target_60,target_75,weekday,hour,minute,...,hour21,hour22,hour23,weekday0,weekday1,weekday2,weekday3,weekday4,weekday5,weekday6
0,2018-03-15 00:00:00,"[0, 0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, ...",5,18,28,32,42,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018-03-15 00:01:00,"[0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, ...",5,19,27,32,42,3,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2018-03-15 00:02:00,"[0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, ...",7,20,27,33,43,3,0,2,...,0,0,0,0,0,0,0,0,0,0
3,2018-03-15 00:03:00,"[0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, ...",7,21,26,35,42,3,0,3,...,0,0,0,0,0,0,0,0,0,0
4,2018-03-15 00:04:00,"[1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, 1, ...",7,20,26,35,42,3,0,4,...,0,0,0,0,0,0,0,0,0,0
5,2018-03-15 00:05:00,"[2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, 1, 1, ...",7,21,26,34,41,3,0,5,...,0,0,0,0,0,0,0,0,0,0
6,2018-03-15 00:06:00,"[0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, 1, 1, 1, ...",7,20,25,34,40,3,0,6,...,0,0,0,0,0,0,0,0,0,0
7,2018-03-15 00:07:00,"[1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, 1, 1, 1, 2, ...",6,20,24,33,40,3,0,7,...,0,0,0,0,0,0,0,0,0,0
8,2018-03-15 00:08:00,"[1, 4, 0, 1, 1, 1, 1, 3, 2, 3, 1, 1, 1, 2, 1, ...",6,19,23,33,39,3,0,8,...,0,0,0,0,0,0,0,0,0,0
9,2018-03-15 00:09:00,"[4, 0, 1, 1, 1, 1, 3, 2, 3, 1, 1, 1, 2, 1, 1, ...",5,19,23,34,39,3,0,9,...,0,0,0,0,0,0,0,0,0,0
10,2018-03-15 00:10:00,"[0, 1, 1, 1, 1, 3, 2, 3, 1, 1, 1, 2, 1, 1, 4, ...",6,18,24,34,40,3,0,10,...,0,0,0,0,0,0,0,0,0,0
11,2018-03-15 00:11:00,"[1, 1, 1, 1, 3, 2, 3, 1, 1, 1, 2, 1, 1, 4, 4, ...",7,18,24,34,39,3,0,11,...,0,0,0,0,0,0,0,0,0,0
12,2018-03-15 00:12:00,"[1, 1, 1, 3, 2, 3, 1, 1, 1, 2, 1, 1, 4, 4, 5, ...",6,17,23,33,39,3,0,12,...,0,0,0,0,0,0,0,0,0,0
13,2018-03-15 00:13:00,"[1, 1, 3, 2, 3, 1, 1, 1, 2, 1, 1, 4, 4, 5, 4, ...",8,16,25,32,39,3,0,13,...,0,0,0,0,0,0,0,0,0,0
14,2018-03-15 00:14:00,"[1, 3, 2, 3, 1, 1, 1, 2, 1, 1, 4, 4, 5, 4, 2, ...",8,17,25,32,39,3,0,14,...,0,0,0,0,0,0,0,0,0,0
15,2018-03-15 00:15:00,"[3, 2, 3, 1, 1, 1, 2, 1, 1, 4, 4, 5, 4, 2, 4, ...",8,16,25,31,38,3,0,15,...,0,0,0,0,0,0,0,0,0,0
16,2018-03-15 00:16:00,"[2, 3, 1, 1, 1, 2, 1, 1, 4, 4, 5, 4, 2, 4, 2, ...",8,15,24,31,38,3,0,16,...,0,0,0,0,0,0,0,0,0,0
17,2018-03-15 00:17:00,"[3, 1, 1, 1, 2, 1, 1, 4, 4, 5, 4, 2, 4, 2, 1, ...",7,14,24,30,37,3,0,17,...,0,0,0,0,0,0,0,0,0,0
18,2018-03-15 00:18:00,"[1, 1, 1, 2, 1, 1, 4, 4, 5, 4, 2, 4, 2, 1, 1, ...",8,14,25,30,37,3,0,18,...,0,0,0,0,0,0,0,0,0,0
19,2018-03-15 00:19:00,"[1, 1, 2, 1, 1, 4, 4, 5, 4, 2, 4, 2, 1, 1, 1, ...",7,13,24,29,36,3,0,19,...,0,0,0,0,0,0,0,0,0,0
20,2018-03-15 00:20:00,"[1, 2, 1, 1, 4, 4, 5, 4, 2, 4, 2, 1, 1, 1, 5, ...",6,13,23,28,35,3,0,20,...,0,0,0,0,0,0,0,0,0,0
21,2018-03-15 00:21:00,"[2, 1, 1, 4, 4, 5, 4, 2, 4, 2, 1, 1, 1, 5, 4, ...",6,14,23,29,35,3,0,21,...,0,0,0,0,0,0,0,0,0,0
22,2018-03-15 00:22:00,"[1, 1, 4, 4, 5, 4, 2, 4, 2, 1, 1, 1, 5, 4, 1, ...",6,13,23,29,34,3,0,22,...,0,0,0,0,0,0,0,0,0,0
23,2018-03-15 00:23:00,"[1, 4, 4, 5, 4, 2, 4, 2, 1, 1, 1, 5, 4, 1, 1, ...",5,12,22,29,34,3,0,23,...,0,0,0,0,0,0,0,0,0,0
24,2018-03-15 00:24:00,"[4, 4, 5, 4, 2, 4, 2, 1, 1, 1, 5, 4, 1, 1, 3, ...",4,15,22,29,33,3,0,24,...,0,0,0,0,0,0,0,0,0,0
25,2018-03-15 00:25:00,"[4, 5, 4, 2, 4, 2, 1, 1, 1, 5, 4, 1, 1, 3, 1, ...",4,14,21,28,32,3,0,25,...,0,0,0,0,0,0,0,0,0,0
26,2018-03-15 00:26:00,"[5, 4, 2, 4, 2, 1, 1, 1, 5, 4, 1, 1, 3, 1, 3, ...",3,14,20,27,32,3,0,26,...,0,0,0,0,0,0,0,0,0,0
27,2018-03-15 00:27:00,"[4, 2, 4, 2, 1, 1, 1, 5, 4, 1, 1, 3, 1, 3, 5, ...",3,14,20,27,32,3,0,27,...,0,0,0,0,0,0,0,0,0,0
28,2018-03-15 00:28:00,"[2, 4, 2, 1, 1, 1, 5, 4, 1, 1, 3, 1, 3, 5, 0, ...",3,16,22,28,33,3,0,28,...,0,0,0,0,0,0,0,0,0,0
29,2018-03-15 00:29:00,"[4, 2, 1, 1, 1, 5, 4, 1, 1, 3, 1, 3, 5, 0, 4, ...",5,16,23,28,34,3,0,29,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241890,2018-08-29 23:30:00,"[1, 1, 1, 0, 1, 2, 2, 2, 3, 1, 1, 0, 3, 2, 5, ...",2,6,9,11,14,2,23,30,...,0,0,1,0,0,0,0,0,0,0
241891,2018-08-29 23:31:00,"[1, 1, 0, 1, 2, 2, 2, 3, 1, 1, 0, 3, 2, 5, 4, ...",2,6,8,10,14,2,23,31,...,0,0,1,0,0,0,0,0,0,0
241892,2018-08-29 23:32:00,"[1, 0, 1, 2, 2, 2, 3, 1, 1, 0, 3, 2, 5, 4, 1, ...",2,6,8,11,14,2,23,32,...,0,0,1,0,0,0,0,0,0,0
241893,2018-08-29 23:33:00,"[0, 1, 2, 2, 2, 3, 1, 1, 0, 3, 2, 5, 4, 1, 1, ...",3,6,8,11,14,2,23,33,...,0,0,1,0,0,0,0,0,0,0
241894,2018-08-29 23:34:00,"[1, 2, 2, 2, 3, 1, 1, 0, 3, 2, 5, 4, 1, 1, 3, ...",3,6,9,11,14,2,23,34,...,0,0,1,0,0,0,0,0,0,0
241895,2018-08-29 23:35:00,"[2, 2, 2, 3, 1, 1, 0, 3, 2, 5, 4, 1, 1, 3, 1, ...",2,5,8,11,14,2,23,35,...,0,0,1,0,0,0,0,0,0,0
241896,2018-08-29 23:36:00,"[2, 2, 3, 1, 1, 0, 3, 2, 5, 4, 1, 1, 3, 1, 4, ...",2,5,8,11,15,2,23,36,...,0,0,1,0,0,0,0,0,0,0
241897,2018-08-29 23:37:00,"[2, 3, 1, 1, 0, 3, 2, 5, 4, 1, 1, 3, 1, 4, 3, ...",2,6,8,11,16,2,23,37,...,0,0,1,0,0,0,0,0,0,0
241898,2018-08-29 23:38:00,"[3, 1, 1, 0, 3, 2, 5, 4, 1, 1, 3, 1, 4, 3, 1, ...",2,5,9,12,17,2,23,38,...,0,0,1,0,0,0,0,0,0,0
241899,2018-08-29 23:39:00,"[1, 1, 0, 3, 2, 5, 4, 1, 1, 3, 1, 4, 3, 1, 1, ...",2,6,9,13,19,2,23,39,...,0,0,1,0,0,0,0,0,0,0
241900,2018-08-29 23:40:00,"[1, 0, 3, 2, 5, 4, 1, 1, 3, 1, 4, 3, 1, 1, 5, ...",3,7,10,16,19,2,23,40,...,0,0,1,0,0,0,0,0,0,0
241901,2018-08-29 23:41:00,"[0, 3, 2, 5, 4, 1, 1, 3, 1, 4, 3, 1, 1, 5, 4, ...",3,7,11,16,18,2,23,41,...,0,0,1,0,0,0,0,0,0,0
241902,2018-08-29 23:42:00,"[3, 2, 5, 4, 1, 1, 3, 1, 4, 3, 1, 1, 5, 4, 3, ...",2,6,10,16,17,2,23,42,...,0,0,1,0,0,0,0,0,0,0
241903,2018-08-29 23:43:00,"[2, 5, 4, 1, 1, 3, 1, 4, 3, 1, 1, 5, 4, 3, 1, ...",3,7,12,16,18,2,23,43,...,0,0,1,0,0,0,0,0,0,0
241904,2018-08-29 23:44:00,"[5, 4, 1, 1, 3, 1, 4, 3, 1, 1, 5, 4, 3, 1, 3, ...",3,7,13,15,19,2,23,44,...,0,0,1,0,0,0,0,0,0,0
241905,2018-08-29 23:45:00,"[4, 1, 1, 3, 1, 4, 3, 1, 1, 5, 4, 3, 1, 3, 1, ...",2,8,13,15,18,2,23,45,...,0,0,1,0,0,0,0,0,0,0
241906,2018-08-29 23:46:00,"[1, 1, 3, 1, 4, 3, 1, 1, 5, 4, 3, 1, 3, 1, 2, ...",2,9,12,14,17,2,23,46,...,0,0,1,0,0,0,0,0,0,0
241907,2018-08-29 23:47:00,"[1, 3, 1, 4, 3, 1, 1, 5, 4, 3, 1, 3, 1, 2, 5, ...",3,10,12,16,17,2,23,47,...,0,0,1,0,0,0,0,0,0,0
241908,2018-08-29 23:48:00,"[3, 1, 4, 3, 1, 1, 5, 4, 3, 1, 3, 1, 2, 5, 2, ...",3,10,12,15,17,2,23,48,...,0,0,1,0,0,0,0,0,0,0
241909,2018-08-29 23:49:00,"[1, 4, 3, 1, 1, 5, 4, 3, 1, 3, 1, 2, 5, 2, 2, ...",3,9,11,14,17,2,23,49,...,0,0,1,0,0,0,0,0,0,0
241910,2018-08-29 23:50:00,"[4, 3, 1, 1, 5, 4, 3, 1, 3, 1, 2, 5, 2, 2, 3, ...",4,9,12,14,18,2,23,50,...,0,0,1,0,0,0,0,0,0,0
241911,2018-08-29 23:51:00,"[3, 1, 1, 5, 4, 3, 1, 3, 1, 2, 5, 2, 2, 3, 0, ...",4,8,12,14,18,2,23,51,...,0,0,1,0,0,0,0,0,0,0
241912,2018-08-29 23:52:00,"[1, 1, 5, 4, 3, 1, 3, 1, 2, 5, 2, 2, 3, 0, 1, ...",4,7,11,13,18,2,23,52,...,0,0,1,0,0,0,0,0,0,0
241913,2018-08-29 23:53:00,"[1, 5, 4, 3, 1, 3, 1, 2, 5, 2, 2, 3, 0, 1, 4, ...",4,7,10,12,17,2,23,53,...,0,0,1,0,0,0,0,0,0,0
241914,2018-08-29 23:54:00,"[5, 4, 3, 1, 3, 1, 2, 5, 2, 2, 3, 0, 1, 4, 1, ...",3,6,9,12,16,2,23,54,...,0,0,1,0,0,0,0,0,0,0
241915,2018-08-29 23:55:00,"[4, 3, 1, 3, 1, 2, 5, 2, 2, 3, 0, 1, 4, 1, 1, ...",3,6,9,12,16,2,23,55,...,0,0,1,0,0,0,0,0,0,0
241916,2018-08-29 23:56:00,"[3, 1, 3, 1, 2, 5, 2, 2, 3, 0, 1, 4, 1, 1, 1, ...",2,6,8,12,19,2,23,56,...,0,0,1,0,0,0,0,0,0,0
241917,2018-08-29 23:57:00,"[1, 3, 1, 2, 5, 2, 2, 3, 0, 1, 4, 1, 1, 1, 1, ...",2,6,8,12,18,2,23,57,...,0,0,1,0,0,0,0,0,0,0
241918,2018-08-29 23:58:00,"[3, 1, 2, 5, 2, 2, 3, 0, 1, 4, 1, 1, 1, 1, 1, ...",1,5,8,13,20,2,23,58,...,0,0,1,0,0,0,0,0,0,0
241919,2018-08-29 23:59:00,"[1, 2, 5, 2, 2, 3, 0, 1, 4, 1, 1, 1, 1, 1, 3, ...",3,6,11,17,21,2,23,59,...,0,0,1,0,0,0,0,0,0,0

Aggregators by order history with different shift and window size:

In [64]:
SHIFTS = [
    HOUR_IN_MINUTES // 12,
    HOUR_IN_MINUTES // 6,
    HOUR_IN_MINUTES // 3,
    HOUR_IN_MINUTES // 2,
    HOUR_IN_MINUTES,
    DAY_IN_MINUTES,
    DAY_IN_MINUTES * 2,
    WEEK_IN_MINUTES,
    WEEK_IN_MINUTES * 2,
    WEEK_IN_MINUTES * 4
]
WINDOWS = [
    HOUR_IN_MINUTES // 12,
    HOUR_IN_MINUTES // 6,
    HOUR_IN_MINUTES // 3,
    HOUR_IN_MINUTES // 2,
    HOUR_IN_MINUTES,
    DAY_IN_MINUTES,
    DAY_IN_MINUTES * 2,
    WEEK_IN_MINUTES,
    WEEK_IN_MINUTES * 2,
    WEEK_IN_MINUTES * 4
]

In [65]:
for shift in SHIFTS:
    for window in WINDOWS:
        if window >= shift:
            continue
        df['num_orders_{}_{}'.format(shift, window)] = \
            df.history.apply(lambda x: x[-shift : -shift + window].sum())

Train/validation split for time. Let's use last 4 weeks for validation.

In [66]:
df.datetime.min(), df.datetime.max()

(Timestamp('2018-03-15 00:00:00'), Timestamp('2018-08-29 23:59:00'))

In [67]:
df_train = df.loc[df.datetime <= df.datetime.max() - datetime.timedelta(days=28)]
df_test = df.loc[df.datetime > df.datetime.max() - datetime.timedelta(days=28)]

In [68]:
target_cols = ['target_{}'.format(position) for position in target_positions]

y_train = df_train[target_cols]
y_test = df_test[target_cols]

df_train = df_train.drop(['datetime', 'history'] + target_cols, axis=1)
df_test = df_test.drop(['datetime', 'history'] + target_cols, axis=1)

In [69]:
def sMAPE(y_true, y_predict, shift=0):
    return 2 * np.mean(
        np.abs(y_true - y_predict) /
        (np.abs(y_true) + np.abs(y_predict) + shift))

Also we will save models for prediction stage.

In [70]:
model_to_save = {
    'models': {}
}

What is good or bad model? We can compare our model with constant solution. For instance median (optimal solution for MAE).

In [71]:
for position in target_positions:
    model = catboost.CatBoostRegressor(
        iterations=3000, learning_rate=0.3, loss_function='MAE')
    model.fit(
        X=df_train,
        y=y_train['target_{}'.format(position)],
        use_best_model=True,
        eval_set=(df_test, y_test['target_{}'.format(position)]),
        verbose=False)
    y_predict = model.predict(df_test)
    
    print('target_{}'.format(position))
    print('stupid:\t{}'.format(sMAPE(
        y_test['target_{}'.format(position)],
        y_train['target_{}'.format(position)].median())))
    print('model:\t{}'.format(sMAPE(
        y_test['target_{}'.format(position)],
        y_predict)))
    print()
    
    model_to_save['models'][position] = model

target_10
stupid:	0.582173151841312
model:	0.32092150425224913

target_30
stupid:	0.5388110900373055
model:	0.25857678545831303

target_45
stupid:	0.5280161445107636
model:	0.23698090438379554

target_60
stupid:	0.5090823344692388
model:	0.22133911572245954

target_75
stupid:	0.5070227037322823
model:	0.20934441191283895

Our model is better than constant solution. Saving model.

In [72]:
pickle.dump(model_to_save, open('models.pkl', 'wb'))