In [27]:
import pandas as pd
import numpy as np
import pickle
import datetime
import xgboost as xgb

In [28]:
HOUR_IN_MINUTES = 60
DAY_IN_MINUTES = 24 * HOUR_IN_MINUTES
WEEK_IN_MINUTES = 7 * DAY_IN_MINUTES

MAX_TIME = DAY_IN_MINUTES

In [29]:
set_name = 'set2'
path_train_set = '../../data/train/{}.csv'.format(set_name)

data = pd.read_csv(path_train_set)
data.datetime = data.datetime.apply(
    lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
data = data.sort_values('datetime')
data.head()

             datetime  num_orders
0 2018-04-01 00:00:00           0
1 2018-04-01 00:01:00           0
2 2018-04-01 00:02:00           0
3 2018-04-01 00:03:00           0
4 2018-04-01 00:04:00           0

In [30]:
target_positions = {
    'set1': [10, 30, 45, 60, 75],
    'set2': [5, 10, 15, 20, 25],
    'set3': [5, 7, 9, 11, 13]
}[set_name]

In [31]:
samples = {
    'datetime': [],
    'history': []}

for position in target_positions:
    samples['target_{}'.format(position)] = []
    
num_orders = data.num_orders.values

In [32]:
# start after 2 weeks because of history
# finish earlier because of target calculation
for i in range(2 * WEEK_IN_MINUTES,
               len(num_orders) - 2 * DAY_IN_MINUTES):
    
    samples['datetime'].append(data.datetime[i])
    samples['history'].append(num_orders[i-2*WEEK_IN_MINUTES:i])
    
    # cumsum not for all array because of time economy
    cumsum_num_orders = num_orders[i+1:i+1+2*DAY_IN_MINUTES].cumsum()
    for position in target_positions:
        orders_by_positions = np.where(cumsum_num_orders >= position)[0]
        if len(orders_by_positions):
            time = orders_by_positions[0] + 1
        else:
            # if no orders in last days
            time = MAX_TIME
        samples['target_{}'.format(position)].append(time)

In [33]:
df = pd.DataFrame.from_dict(samples)
df.head()

,datetime,history,target_5,target_10,target_15,target_20,target_25
0,2018-04-15 00:00:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",205,221,247,285,297
1,2018-04-15 00:01:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",204,220,246,284,296
2,2018-04-15 00:02:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",203,219,245,283,295
3,2018-04-15 00:03:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",202,218,244,282,294
4,2018-04-15 00:04:00,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",201,217,243,281,293

In [34]:
df['weekday'] = df.datetime.apply(lambda x: x.weekday())
df['hour'] = df.datetime.apply(lambda x: x.hour)
df['minute'] = df.datetime.apply(lambda x: x.minute)

In [35]:
model_to_save = {
    'models': {}
}

In [36]:
one_target = df[['target_{}'.format(position), 'weekday', 'hour', 'minute']].copy()

In [37]:

for position in target_positions:


    one_target = df[['target_{}'.format(position), 'weekday', 'hour', 'minute']].copy()
    tt = one_target['target_{}'.format(position)].values
    one_target = one_target.loc[WEEK_IN_MINUTES-DAY_IN_MINUTES:]



    one_target['t-1'] = tt[5*DAY_IN_MINUTES:-1*DAY_IN_MINUTES]
    one_target['t-2'] = tt[4*DAY_IN_MINUTES:-2*DAY_IN_MINUTES]
    one_target['t-3'] = tt[3*DAY_IN_MINUTES:-3*DAY_IN_MINUTES]
    one_target['t-4'] = tt[2*DAY_IN_MINUTES:-4*DAY_IN_MINUTES]
    one_target['t-5'] = tt[1*DAY_IN_MINUTES:-5*DAY_IN_MINUTES]

    one_target = one_target.reset_index(drop=True)

    reg = xgb.XGBRegressor(n_estimators=110)
    reg.fit(one_target.iloc[:, 1:], one_target.iloc[:, 0])
    
    model_to_save['models'][position] = reg

In [38]:
pickle.dump(model_to_save, open('models.pkl', 'wb'))

In [39]:
one_target

        target_25  weekday  hour  minute  t-1  t-2  t-3  t-4  t-5
0             243        5     0       0  232  256  215  227  313
1             242        5     0       1  232  255  214  226  312
2             241        5     0       2  231  254  213  225  311
3             240        5     0       3  231  253  212  224  310
4             239        5     0       4  230  252  211  223  309
5             238        5     0       5  229  251  210  222  308
6             237        5     0       6  228  250  209  221  307
7             236        5     0       7  227  249  208  220  306
8             235        5     0       8  226  248  207  219  305
9             234        5     0       9  225  247  206  218  304
10            233        5     0      10  224  246  205  217  303
11            232        5     0      11  233  245  204  216  302
12            231        5     0      12  232  244  203  215  301
13            230        5     0      13  231  243  202  214  300
14            229        5     0      14  230  242  201  213  299
15            228        5     0      15  229  241  200  212  298
16            227        5     0      16  228  240  199  211  297
17            226        5     0      17  227  239  198  210  296
18            225        5     0      18  226  238  197  209  295
19            224        5     0      19  229  237  196  208  294
20            223        5     0      20  228  236  195  207  293
21            222        5     0      21  227  235  194  206  292
22            221        5     0      22  226  234  193  205  291
23            220        5     0      23  225  233  192  204  290
24            219        5     0      24  224  232  191  203  289
25            218        5     0      25  223  231  190  202  288
26            217        5     0      26  222  230  189  201  287
27            216        5     0      27  221  229  188  200  286
28            215        5     0      28  220  228  187  199  285
29            214        5     0      29  219  227  186  198  284
...           ...      ...   ...     ...  ...  ...  ...  ...  ...
231810         75        4    23      30  350  231  265  221  242
231811         74        4    23      31  349  230  264  220  241
231812         73        4    23      32  348  229  263  219  240
231813         72        4    23      33  347  228  262  218  239
231814         71        4    23      34  346  227  261  217  238
231815         70        4    23      35  345  226  260  216  237
231816         69        4    23      36  344  225  259  215  236
231817         68        4    23      37  343  224  258  214  235
231818         67        4    23      38  352  223  257  213  234
231819         66        4    23      39  351  222  256  212  233
231820         65        4    23      40  350  221  255  211  232
231821         64        4    23      41  349  220  254  210  231
231822         63        4    23      42  348  219  253  209  230
231823         62        4    23      43  347  218  252  208  229
231824         61        4    23      44  346  217  251  207  228
231825         60        4    23      45  345  216  250  206  227
231826         59        4    23      46  344  215  249  205  226
231827         58        4    23      47  343  214  248  204  226
231828         57        4    23      48  342  213  247  203  225
231829         56        4    23      49  341  212  246  202  224
231830         55        4    23      50  340  211  245  201  223
231831         54        4    23      51  339  210  244  200  222
231832         53        4    23      52  338  209  243  199  221
231833         52        4    23      53  337  208  242  198  220
231834         51        4    23      54  336  207  241  197  219
231835         50        4    23      55  335  206  240  196  218
231836         52        4    23      56  334  205  239  195  217
231837         51        4    23      57  333  204  238  194  218
231838         50        4    23      58  332  203  237  193  217
231839         49        4    23      59  331  202  236  192  216

[231840 rows x 9 columns]